html, body {
		margin: 0 auto;
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Slabo 27px', serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Poiret One', sans-serif;
	font-family: 'Dosis', sans-serif;*/

	font-size: 13px;
	text-align: center;
	overflow: hidden;
	background-color: #ffffff;
}


.contentBox h1 {
	height: 45px;
	width: 130px;
	border-color: 'white';
	border-style: solid;
	font-size: 30px;
	padding-top: 3%;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	margin-top: 11%;
	border-radius: 5px;
}

.contentBox h1:hover {
	background-color: #ffffff;
	color: #262626;
	border-color: #ffffff;
	cursor: pointer;
}

h2 {
	font-weight: normal;
	font-size: 40px;
	text-align: center;	
		
}

h4 {
	font-weight: normal;
	margin-bottom: -2%;
	text-align: center;
}

p {
	font-size: 14px;
}

hr {
	margin-top: -5%;
	width: 100%;
	margin-bottom: 7%;
}

#header {
    margin: 0 auto;
    font-size: 50px;
    margin-top: -0.5%;
    color: #a6a6a6;
    z-index: 1000;
    position: absolute;
    width: 100%;
    display: none;

    /*font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Slabo 27px', serif;
	font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Poiret One', sans-serif*;
	font-family: 'Dosis', sans-serif;*/
    z-index: 300;
}

.AddParticleBox {
	width: 255px;
	height: 67px;
	background-color: #ff33a2;
	color: #ffffff;
	margin: 11.5% 0px 0px 41%;
	opacity: 0.4;
	position: absolute;	
	border-radius: 5px;
	padding-top: 0.5%;
	display: none;
}

.AddParticleBox p {
	font-size: 18px;
	font-family: 'Raleway', sans-serif
}

.AddParticleBox:hover {
	/*background-color: #ff80c6;	*/
	cursor: pointer;
	opacity: 0.7;
}

.BackgroundMenu {
	width: 100%;
	height: 100%;
	z-index: 50;
	position: absolute;
	background-color: #000000;
	opacity: 0.3;	
	margin-top: 0%;
	/*filter: blur(50px);*/

	display: none;
}


#BackgroundAddParticle {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 200;
	background-color: #ffffff;
	display: none;
}

.contentBox {
	position: absolute;
	width: 450px;
	height: 450px;
	color: white;
	padding-top: 1%;
	margin-top: 12%;
	margin-left: 33.6%;
	border-radius: 15px;
	background-color: #000000;
	opacity: 0.6;
	text-align: justify;	
	z-index: 100;
	display: none;


	/*font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif*;
	font-family: 'Slabo 27px', serif;
	font-family: 'Source Sans Pro', sans-serif*;*/
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'PT Sans', sans-serif*;
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Poiret One', sans-serif;
	font-family: 'Dosis', sans-serif;*/
}

.contentText {
	width: 75%;
	margin: 0 auto;
}


.addParticleForm {
	margin: 0 auto;
	width: 40%;
	height: 73%;
	margin-top: 6%;
	margin-left: 30%;
	padding-top: 4%;
	border-radius: 7px;
	font-family: 'Raleway', sans-serif;
	background-color: #000000;
	opacity: 0.6;
	position: absolute;
	color: #ffffff;
	z-index: 600;
	display: none;
}

.addParticleForm h2 {
	width: 100%;
	font-size: 39px;
	margin: 0;
	border: none;
	margin-top: -3%;
	margin-bottom: 5%;
}

.addParticleForm hr {
	width: 84%;
	margin-top: -3%;
	margin-bottom: 4%;
}

.addParticleForm label {
	font-size: 20px;
}

.addParticleForm input {
	border-radius: 5px;
	width: 480px;
	height: 30px;
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: 20px;
	z-index: 1;
}

textarea {
	border-radius: 5px;
	margin-top: 1%;
	margin-bottom: 2%;
	font-size: 20px;
	z-index: 1;
	/*height: 120px;*/
}

.addParticleForm h1 {
	height: 40px;
	width: 130px;
	margin: 0 auto;
	margin-top: 3%;
	border-radius: 5px;
	border-color: 'white';
	border-style: solid;
	padding-top: 1.5%;
}

.addParticleForm h1:hover {
	background-color: #ffffff;
	color: #262626;
	border-color: #ffffff;
	cursor: pointer;
}


/*.contentBox h1 {
	height: 45px;
	width: 130px;
	border-color: 'white';
	border-style: solid;
	font-size: 30px;
	padding-top: 3%;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	margin-top: 15%;
	border-radius: 5px;
}
*/

#btn-back {
	margin-top: -6%;
	margin-bottom: 5%;
}

#btn-back:hover {
	margin-top: -6%;
	margin-bottom: 5%;
	cursor: pointer;
}

#starText {
	height: 650px;
	width: 650px;
	border-radius: 50%;
	position: absolute;
	margin-top: -10%;
	margin-left: 29%;
	background-color: rgba(255, 255, 255, 0.0);
	z-index: 1000px; 
	font-size: 200px;
	opacity: 0.9;
	color: #ffffff;
	text-align: center;
	display: table-cell;
	/*visibility: hidden;*/
	display: none;
}

#starText h2 {
	margin-top: 14%;
	color: #ffffff;
	font-size: 55px;
}

#starText p {
	height: 42%;
	width: 85%;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: -1.5%;
	margin-bottom: 10%;
	color: #ffffff;
	font-size: 20px;
}

#starText h3 {
	color: #ffffff;
	font-size: 50px;
}

#starText hr {
	width: 75%;
	color: #ffffff;
	border: 1px solid rgb(255, 255, 255);

}

#btn-quit {
	margin-top: -16%;
	margin-bottom: -20%;
	cursor: pointer;
}
























